<div class="row">
  <div class="col-md-3 col-lg-3 col-xs-12 mb-4" *ngFor="let item of carros">
      <div class="card">
          <a routerLink="/veiculo/{{item.id}}" mdbWavesEffect>
              <app-imagen [carroId]='item.id' (img)="url($event)"></app-imagen>
          </a>
          <div class="card-body">
              <p class="f-09 b-5 text-uppercase mb-4 pl-2">
                  {{item.marcaCarro}} {{item.modeloCarro}} {{item.versao}}
              </p>
              <div class="pb-3 clearfix border-bottom">
                  <span class="float-left bg-1 p-2 leads b-9">
                      {{item.valor | currencyBrasil}}
                  </span>
                  <span class="float-right p-2 f-09 text-muted">
                      <mdb-icon fas icon="tachometer-alt"></mdb-icon>
                      {{item.kilometragem}} Km.
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>
