<div class='container pt-5'>
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-10">
            <div class="w-100 bg-white pb-4 px-4 pt-2">
                <h3 class='mb-5 pt-5'>
                    <span class="py-lg-0 py-xl-3 px-4 bg-parvi text-uppercase font-weight-bolder">
                        <span class="h1-parvi px-3">
                            <i class="fas fa-car mr-1"></i>
                            que carro você está procurando? encontre aqui
                        </span>
                    </span>
                </h3>
                <form [formGroup]="fmSearch">
                    <div class="row my-4">
                        <div class="col-6 col-xl-3">
                            <div class="form-group">
                                <select class="form-control" formControlName="marca" id="marca" placeholder='Marca'>
                                    <option disabled selected>Marca</option>
                                    <option *ngFor="let m of marca" value="{{m.nome}}" class="text-uppercase">{{m.nome}}</option>>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-xl-3">
                            <input type="text" formControlName="modelo" class="form-control" placeholder="Modelo">
                        </div>
                        <div class="col-6 col-xl-3 ">
                            <input type="number" formControlName="de" class="form-control" placeholder="Ano de">
                        </div>
                        <div class="col-6 col-xl-3">
                            <input type="number" formControlName="ate" class="form-control" placeholder="Ano até">
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-xl-8 col-12">
                            <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
                        </div>
                        <div class="col-xl-4">
                            <button type='submit' class='btn btn-danger rounded-pill px-5 text-uppercase' (click)='onSearch()'>
                                <i class="fas fa-search mr-1"></i>
                                Buscar Carros
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


