<section id="pre-footer" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <div class="box-1 p-4">
          <h6 class="text-uppercase text-center font-weight-bold border-bottom pb-1 mb-3">
            atendimento online</h6>
          <p class="f-08 mb-0 font-weight-bold">Segunda à Sexta:</p>
          <p class="f-08 mb-2">08:00 às 22:00</p>
          <p class="f-08 mb-0 font-weight-bold">Sábado:</p>
          <p class="f-08 mb-2">08:00 às 20:00</p>
          <p class="f-08 mb-0 font-weight-bold">Domingos e Feriados:</p>
          <p class="f-08 mb-0">10:00 às 20:00</p>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="box-2 p-4 text-white">
          <h6 class="text-uppercase text-center yellow-text font-weight-bold border-bottom pb-1 mb-3">
            atendimento loja física</h6>
          <p class="f-08 mb-0 font-weight-bold">Segunda à Sexta:</p>
          <p class="f-08 mb-2">08:00 às 19:00</p>
          <p class="f-08 mb-0 font-weight-bold">Sábado e Domingo:</p>
          <p class="f-08 mb-3">08:00 às 18:00</p>
        </div>
        <div class="box-3 p-2 text-white text-uppercase text-center">
          <p class="f-07 mb-0 font-weight-bold">consulte o horário com o consultor</p>
        </div>
      </div>
      <div class="col-xl-6">
        <h5 class="h5 text-uppercase font-weight-bold mb-3">
          <span class="text-title-2">telefones lojas físicas</span>
        </h5>
        <div class="row mt-4">
          <div class="col-xl-6 col-md-6 col-sm-6">
            <address class="b-info__contacts">
              <div class="b-info__contacts-item text-white">
                <span class="fa fa-2x fa-map-marker mr-2"></span>
                <em><b>AMAZONAS</b></em>
              </div>
              <div class="b-info__contacts-item mt-3 ml-4">
                <em>TOYOLEX MANAUS</em>
              </div>
              <div class="b-info__contacts-item ml-4">
                <em>FONE: (92) 3042-0738</em>
              </div>
            </address>
          </div>
          <div class="col-xl-6 col-md-6 col-sm-6">
            <address class="b-info__contacts">
              <div class="b-info__contacts-item text-white">
                <span class="fa fa-2x fa-map-marker mr-2"></span>
                <em><b>RORAIMA</b></em>
              </div>
              <div class="b-info__contacts-item mt-3 ml-4">
                <em>TOYOLEX BOA VISTA (RR)</em>
              </div>
              <div class="b-info__contacts-item ml-4">
                <em>Fone: (92) 3042-0738</em>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
