.input-group-append {
    margin-left: -6px;
    margin-top: -5.5px;
}

.btn {
    padding: 0.4rem 2.14rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.bg-2 {
    background: #434343;
}

.btn-parvi {
    background-color: #fadb58 !important;
    color: #fff !important;
}