<ngx-spinner bdOpacity = 0.9 bdColor = "#333"
    size = "default" color = "#fff"
    type = "ball-running-dots" fullScreen = "true"
>
    <p style="color: white" > Carregando Bibliotecas... </p>
</ngx-spinner>
<app-header></app-header>
<router-outlet></router-outlet>
<app-prefooter></app-prefooter>
<app-footer></app-footer>