<ngx-spinner bdOpacity = 0.9 bdColor = "#333"
    size = "default" color = "#fff"
    type = "ball-running-dots" fullScreen = "true"
>
    <p style="color: white" > Carregando Bibliotecas... </p>
</ngx-spinner>
<section id="fale-conosco" class="py-5">
  <div class="container">
    <h2 class="border-bottom pb-2 text-uppercase bold">fale conosco</h2>
    <div class="row">
      <div class="col-md-8">
        <form [formGroup]="fmConoco">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 pt-4">
              <!-- Cor, Ano e Km -->
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" formControlName="telefone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="descricao">Mensagem</label>
                <textarea class="form-control" id="mensagem" rows="3" formControlName="mensagem"></textarea>
              </div>
              <hr class="mt-3">
              <div class="text-center">
                  <button type="reset" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect>
                      <h5 class="mb-0 px-3 bold">Cancelar</h5>
                    </button>
                <button type="button" mdbBtn color="primary" (click)='onSend()' [disabled]='!fmConoco.valid' class="relative waves-light" mdbWavesEffect>
                  <h5 class="mb-0 px-3 bold">Enviar</h5>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div class="w-100 bg-logos text-white py-5 px-4">
          <div class="text-center mb-4">
            <img src="./assets/images/logo.png" class="img-fluid" width="200px" alt="Logo de Logos Veículos">
          </div>
          <ul class="nav">
            <li class="mb-2">
              <span class="b-5">Telefone:</span> 
              (92) 2121-0000</li>
            <li class="mb-2"><span class="b-5">Celular :</span> 
              (92) 99177-8513</li>
            <li class="mb-2"><span class="b-5">E-mail:</span> logos@logosveiculos.com.br</li>
            <li class="mb-2"><span class="b-5">Endereço: </span>
            Avenida André Araújo, 1681-Aleixo. Manaus - Amázonas</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.9713800485483!2d-59.999773384696766!3d-3.1022618411790512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926c1acb54cfef09%3A0xdaf5c4f66b00ea09!2sAv.+Andr%C3%A9+Ara%C3%BAjo%2C+1681+-+Aleixo%2C+Manaus+-+AM%2C+69060-000!5e0!3m2!1ses-419!2sbr!4v1551123402011" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>