<!-- <img *ngIf="flag > 0" src="{{img}}" alt="" class='img-fluid'> -->


<img [defaultImage]="img" [lazyLoad]='img' class="img-fluid" [offset]="100">

<p *ngIf="flag === 0" class="mt-3 text-uppercase">Sem Imagem</p>