<header>
    <mdb-navbar SideClass="navbar navbar-expand-lg fixed-top sticky-top navbar-light">
      <mdb-navbar-brand>
        <a href="#" class="navbar-brand">
          <img src="../../../../assets/images/auto-parvi.svg" height="50" alt="">
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
              <a routerLink="/painel" class="nav-link waves-light" mdbWavesEffect>Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" routerLink="/veiculos" mdbWavesEffect>Veículos</a>
          </li>
          <!-- <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" routerLink="/propostas" mdbWavesEffect>Propostas</a>
          </li> -->
        </ul>
        <ul class="navbar-nav md-auto">
          <li class="nav-item" routerLinkActive="active">
              <a routerLink="/painel" class="nav-link waves-light" mdbWavesEffect>Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" routerLink="/veiculos" mdbWavesEffect>Veículos</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
</header>